@import "tailwindcss";

:root {
  --background: #f9f9fa;
  --foreground: #0a0a0a;
  --font-poppins: "Poppins";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f9f9fa;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
  min-height: 100vh;
}

* {
  scroll-behavior: smooth;
}
